/*** GENERAL ***/

#mq-test {
    width:2px;
    height: 0px;
}

#graph {
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently                                not supported by any browser */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    color:#373736;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

#middle-content {
    display:none;
}

ul {
    list-style-type: disc;
    padding-left:18px;
    padding-top:8px;
}

#bottom_menu {
    display:none;
}

#menu a, #bottom_menu a {
    display:inline-block;
    margin:0 12px;
    font-size: 13px;
}

#main {
    min-width:320px;
}

#graph, #table-inner table, #parameter, #faq-container {
    box-shadow: 1px 2px 4px rgba(175,172,168, 0.28);
}

h1, h2 {
    font-family:"Roboto", sans-serif;
    width: 96%;
    margin:0 auto;
    font-size:28px;
    font-weight:bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
    line-height:120%;
    font-weight:900;
    color:rgba(0,0,0,0.7);
}

h2 {
    font-size:22px;
}

.intro, #faq {
    width:92%;
    max-width: 750px;
    margin:0 auto;
    margin-bottom:24px;
    font-size: 15px;
    line-height:150%;
}

#faq {
    margin-top:56px;
}

.faq-element {
    border-bottom:1px solid rgba(0,0,0,0.12);
}

#faq-container {
    background-color: #ffffff;
}

#faq a:hover {
    text-decoration:none;
    background:rgba(0,0,0,0.04);
}

#faq h3 {
    font-weight: 500;
    font-size: 16px;   
    padding: 18px 24px;
    margin:0;
    line-height:150%;
    
}

#faq a:last-child h3 {
    border-bottom:0;
}

.faq-content {
    display:none;
    padding:8px 24px;    
}

#faq ul {
    margin:0;
    margin-bottom:16px;
    padding-top:0;
}

#faq li {
    padding:6px 0px;
}

#parameter {
    width: 100%;
    box-sizing: border-box;
    max-width: 320px;
    margin:0 auto;
    margin-top:12px;
    padding:16px;
    margin-bottom:20px;
    background-color: #ffffff;   
    border-radius:2px;
}

#button-submit {
    margin-top: 12px;
    background: #ff4d79;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    height: auto;
    cursor:pointer;
    outline:none;
}

#button-submit:hover {
    background-color:#0da121;
}

#button-submit:active {
    background-color:#0da121;
}

#parameter-einkommen-ausgaben {
    margin-bottom: 12px;
}

#parameter span {
    display: inline-block;
    margin-top: 7px;
    float:left;
}

.parameter-input {
    float: right;
    height: 32px !important;
    width: 100px !important;
    font-family: "Myra 4F Caps Bold";
    font-weight: bold !important;
    font-size: 20px !important;
    color: #042e60!important;;
    background-color: rgba(255, 255, 255, 0.7) !important;;
    border: none !important;;
    border-bottom:2px solid #e0e0e0 !important;;
    padding:1px 0px !important;
    margin-bottom: 4px !important;;
    outline:none!important; ;
}

.toggle {
    line-height: 30px;
    vertical-align: middle;
    padding: 3px 8px 2px 8px;
    position: relative;
    left: 6px;
    cursor: pointer;
    float: right;
    margin-top: 14px;
    font-weight: bold;
    font-size: 16px;
    color: #43c0ff;
    border-radius: 3px;
}

.toggle:hover {
    background-color:rgba(0,0,0,0.04);
}

.toggle:active {
    color:#aaaaaa;
}

.toggle img {
    position:relative;
    top:4px;
    margin-right:4px;
}

#optionen {
    margin-top:15px;
    display:none;
}

#chevron {
    margin-top:0 !important;
    float:none !important;
    display:inline !important;
}

#result {
    border-radius:2px;
    position: absolute;
    width:96%;
    color:#fff;
    text-align:center;
    max-width: 340px;
    padding: 14px 12px 18px 12px;
    background-color:#333343;
    top: 30px;
    font-size:16px;
    line-height:170%;
    right: 50px;
    z-index: 1000;
    box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.2);
    border: 1px solid #eeeeee;
}

#result-small {
    display:none;
    line-height:150%;
}

.years-to-retirement, .savingsrate, .savingrate-suffix {
    font-size:32px;
    text-transform: uppercase;
    font-family:'Myra 4F Caps Bold';
    font-weight:bold;
    color:#ff4d79;
}

.years-to-retirement {
    margin-right:4px;
    margin-left:4px;
    position:relative;
    top:4px;
}

.years-to-retirement-text {
    font-weight:600;
}

    .years-to-retirement-title {
        margin-bottom:6px;
        font-size:18px;
        font-weight:600;
    }

.savingsrate-text {
    font-weight:600;
    margin-left:-10px;
    display:block;
}

.savingrate-suffix {
    font-size:24px;
    margin-left:2px;
    position:relative;
    top:4px;
}

.savingsrate {
    position:relative;
    top:4px;
    margin-left:4px;
}

.column-container {
    cursor:pointer;
    float: left;
    position: relative;
    bottom: 0;
    height: 100%;
    width: 30px;
    box-sizing: border-box;
}

.column-container:hover, .column-container.active:hover {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.08+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.08) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.08) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#14000000',GradientType=0 ); /* IE6-9 */


}

.column-container:hover .column-value {
    font-weight:bold;
    font-size:15px;
}

.column-container.active {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.06+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.06) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.06) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.06) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */


}

.column-container.active .column {
    background-color:#ff4d79;
}

.column-container.active .column-value {
    color:#ff4d79;
}

.column-container-inner {
    height:100%;
    width:100%;
}

.column {
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#d0d0d0;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    box-sizing:border-box;
}

.column.mouseover {
    background-color:rgba(0,0,0,0.25);
}

.column-value {
    position: absolute;
    bottom:-20px;
    color: rgba(0,0,0,0.54);
    width:100%;
    text-align:center;
    font-size:12px;
    line-height:100%;
}

.column-value-suffix {
    display:none;
    font-size:11px;
    margin-left:2px;
}

#graph {
    position: relative;
    box-sizing: border-box;
    width: 96%;
    margin: 0% auto;
    max-width: 1550px;
    height:320px;
    background-color: #fdfdfd;
    border-radius:2px;
    overflow:hidden;
    
}

#graph-content {
    position:absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding:20px;
}

#graph-canvas-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top:30px;
    padding-left: 55px;
    padding-right:10px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#graph-canvas {
    width: 100%;
    height: 100%;
}

#graph-content-result {
    font-size:17px;
    line-height:1.5;
}

#graph-background-container {
    position:absolute;
    bottom:0;
    width:100%;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:10px;
    box-sizing: border-box;
}

#graph-background {
    width:100%;
}

#axis-y-label {
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin:top left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-top: 56px;
}

#axis-x-label {
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    left:25px;
}

.axis-label {
    font-size: 13px;
    font-weight:bold;
}

#years-overlay {
    height: 22px;
    background-color: #333343;
    z-index: 100000;
    position: absolute;
    color: #fff;
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
    /* margin: 0 auto; */
    text-align: center;
    padding: 5px 9px;
    left: 23px;
    box-sizing: border-box;
    pointer-events:none;
    display:none;
    line-height:100%;
}

.line {
    position:relative;
    box-sizing:border-box; 
    width:100%; 
    border-bottom:1px solid #eeeeee; 
}

.line-number {
    position:absolute;
    bottom:-6px;
    width:20px;
    left:-23px;
    text-align:right;
    font-size:12px;
    color:rgba(0,0,0,0.54);
}

.clearfloat {
    clear: both;
}

input[type="button"] {
    height: 30px;
}

.toggles {
    display:none;
    margin-top:12px;
}

#table {
    width:100%;
    margin:1% auto;
    max-width:100%;
}

#table-inner {  
    margin-top:30px;
    overflow:visible;
    min-width:100%;
}

#table table {
    background-color:#ffffff;
    min-width:100%;    
}

#table thead {
    background-color:#333343;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    line-height:150%;
}

#table tr {
    border-bottom:1px solid #e0e0e0;
}

#table tbody td span {
    padding:12px;
    display: inline-block;
    position:relative;
}

#table thead td {
    padding:12px;
    font-weight:bold;
}

#table td {
    padding:0;
}

.progress {
    background-color:#f0f0f0;
    position:relative;
    color:#000;
}

.progress-inner {
    position:absolute;
    height:100%;
    background-color:rgba(51, 51, 67, 0.15);
}

    .shariff {
        width: 96%;
        max-width: 1550px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }   

.shariff-button {
    min-width: 100px !important;
    max-width: 120px !important;
    margin-right: 1% !important;
}

#inspired {
    width:100%;
    margin-bottom:20px;
    font-size: 13px;
    text-align: center;
}
.shariff ul {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	padding: 0 !important;
	margin: 0 !important
}

.shariff li {
	height: 35px;
	box-sizing: border-box;
	list-style: none !important;
	overflow: hidden !important;
	margin: 5px !important;
	padding: 0 !important;
	text-indent: 0 !important;
	border-left: 0 none !important
}

.shariff a {
	position: relative;
	display: block !important;
	height: 35px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
	text-decoration: none;
	background-image: none !important;
	text-align: left;
	box-shadow: none;
	cursor: pointer
}

.shariff a:hover {
	color: #fff;
	background-color: inherit !important;
	text-decoration: none !important
}

.shariff a:visited {
	color: inherit
}

.shariff .shariff-count {
	position: absolute;
	height: 33px;
	top: 0;
	right: 0;
	margin: 1px;
	padding: 0 8px;
	background-color: rgba(255, 255, 255, 0.5)
}

.shariff .shariff-count,
.shariff .shariff-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 36px;
	vertical-align: top
}

.shariff .shariff-text {
	padding-left: 3px
}

.shariff .shariff-icon svg {
	width: 32px;
	height: 20px;
	padding: 7px 1px;
	box-sizing: content-box !important
}

.shariff-button::before {
	content: none !important
}

.shariff .shariff-buttons .shariff-text-white {
	color: #fff
}

.shariff .shariff-buttons .shariff-hidezero {
	opacity: 0
}

.shariff .theme-default a {
	color: #fff !important
}

.shariff .theme-default .shariff-icon svg path {
	fill: #fff
}

.shariff .theme-color .shariff-count {
	background-color: transparent !important;
	color: #fff !important
}

.shariff .theme-color .shariff-icon svg path {
	fill: #fff
}

.shariff .theme-grey a {
	background-color: #b0b0b0 !important
}

.shariff .theme-grey a:hover {
	background-color: inherit !important
}

.shariff .theme-grey .shariff-count {
	background-color: transparent;
	color: #fff !important
}

.shariff .theme-grey .shariff-icon svg path {
	fill: #fff
}

.shariff .theme-white a {
	background-color: #fff !important;
	border: 1px solid #ddd
}

.shariff .theme-white a:hover {
	background-color: #eee !important;
	color: inherit
}

.shariff .theme-white svg {
	fill: currentColor
}

.shariff .theme-white .shariff-count {
	background-color: transparent;
	margin: 0
}

.shariff .wcag_colors .shariff-count {
	color: #fff !important;
	background-color: rgba(255, 255, 255, 0.2)
}

.shariff .shariff-buttons.theme-round li {
	width: 35px !important;
	height: 35px;
	border-radius: 50%;
	margin: 5px
}

.shariff .theme-round a {
	position: relative;
	height: 35px;
	border-radius: 50%
}

.shariff .theme-round .shariff-icon svg {
	display: block;
	margin: auto;
	padding: 8px 1px
}

.shariff .theme-round .shariff-text {
	display: block
}

.shariff .theme-round .shariff-count {
	display: inline;
	padding: 0;
	right: 0;
	left: 0;
	top: 0;
	background-color: transparent;
	color: transparent !important;
	text-align: center
}

.shariff .theme-round .shariff-count:hover {
	background-color: inherit !important;
	color: #fff !important
}

.shariff .theme-round .shariff-icon svg path {
	fill: #fff
}

.shariff .shariff-buttons.buttonsize-small li {
	height: 25px !important
}

.shariff .shariff-buttons.buttonsize-small a {
	height: 25px !important
}

.shariff .shariff-buttons.buttonsize-small.orientation-vertical li {
	width: 115px
}

.shariff .shariff-buttons.buttonsize-small .shariff-icon svg {
	width: 22px;
	height: 15px;
	padding: 5px 1px
}

.shariff .shariff-buttons.buttonsize-small .shariff-text,
.shariff .shariff-buttons.buttonsize-small .shariff-count {
	font-size: 11px;
	line-height: 25px;
	padding: 0 5px;
	height: 23px
}

.shariff .shariff-buttons.buttonsize-small .shariff-text {
	padding-left: 1px !important
}

.shariff .shariff-buttons.buttonsize-small.theme-round li {
	width: 25px !important
}

.shariff .shariff-buttons.buttonsize-small.theme-round a {
	width: 25px !important
}

.shariff .shariff-buttons.buttonsize-small.theme-round .shariff-count {
	padding: 0 !important;
	height: 25px !important
}

.shariff .shariff-buttons.theme-round.buttonsize-small.orientation-horizontal li {
	margin: 5px 7px
}

.shariff .shariff-buttons.theme-round.buttonsize-small.orientation-horizontal li:first-child {
	margin-left: 5px
}

.shariff .shariff-buttons.theme-round.buttonsize-small.orientation-horizontal li:last-child {
	margin-right: 5px
}

.shariff .buttonsize-large li {
	height: 45px !important
}

.shariff .buttonsize-large a {
	height: 45px !important
}

.shariff .buttonsize-large.orientation-vertical li {
	width: 155px
}

.shariff .buttonsize-large .shariff-icon svg {
	width: 40px;
	height: 28px;
	padding: 9px 2px
}

.shariff .buttonsize-large .shariff-text,
.shariff .buttonsize-large .shariff-count {
	font-size: 14px;
	line-height: 45px;
	padding: 0 10px;
	height: 43px
}

.shariff .buttonsize-large .shariff-text {
	padding-left: 1px !important
}

.shariff .shariff-buttons.buttonsize-large.theme-round li {
	width: 45px !important;
	height: 45px !important
}

.shariff .buttonsize-large.theme-round a {
	width: 45px !important
}

.shariff .buttonsize-large.theme-round .shariff-count {
	padding: 0 !important;
	height: 45px !important
}

.shariff .orientation-vertical {
	flex-direction: column
}

.shariff .orientation-vertical li {
	width: 135px
}

.shariff.shariff-align-flex-start ul {
	justify-content: flex-start;
	align-items: flex-start
}

.shariff.shariff-align-center ul {
	justify-content: center;
	align-items: center
}

.shariff.shariff-align-flex-end ul {
	justify-content: flex-end;
	align-items: flex-end
}

.widget .shariff.shariff-widget-align-flex-start ul {
	justify-content: flex-start;
	align-items: flex-start
}

.widget .shariff.shariff-widget-align-center ul {
	justify-content: center;
	align-items: center
}

.widget .shariff.shariff-widget-align-flex-end ul {
	justify-content: flex-end;
	align-items: flex-end
}

.shariff.shariff-buttonstretch li {
	flex: 1 0 auto !important
}

.shariff.shariff-buttonstretch .orientation-vertical li {
	width: 100% !important
}

.widget .shariff li {
	border: 0;
	font-weight: 400
}

.widget .shariff .theme-default a,
.widget .shariff .theme-color a,
.widget .shariff .theme-grey a,
.widget .shariff .theme-round a {
	color: #fff;
	display: block;
	font-weight: 400
}

.widget .shariff .theme-default a:hover,
.widget .shariff .theme-color a:hover,
.widget .shariff .theme-grey a:hover,
.widget .shariff .theme-round a:hover {
	color: #fff;
	font-weight: 400
}

.shariff-warning {
	background-color: red;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.5
}

.shariff .info a {
	border: 1px solid #ddd;
	width: 35px
}

.shariff .wcag_colors .info a {
	border: 1px solid #575757;
	width: 35px
}

.shariff .shariff-button.info {
	width: 35px;
	flex: 0 0 auto !important
}

.shariff .theme-default .shariff-button.shariff-nocustomcolor.info svg path {
	fill: #999
}

.shariff .theme-default.wcag_colors .shariff-button.shariff-nocustomcolor.info svg path {
	fill: #595959
}

.shariff .theme-round .shariff-button.shariff-nocustomcolor.info svg path {
	fill: #999
}

.shariff .theme-round.wcag_colors .shariff-button.shariff-nocustomcolor.info svg path {
	fill: #595959
}

.shariff .buttonsize-small .shariff-button.info {
	width: 25px
}

.shariff .buttonsize-small .info a {
	width: 25px
}

.shariff .buttonsize-large .shariff-button.info {
	width: 45px
}

.shariff .buttonsize-large .info a {
	width: 45px
}

.shariff .info .shariff-icon svg {
	display: block;
	margin: auto
}

@media screen and (min-width: 600px) {
    #table, #faq {
        display:block !important;
    }
}

/* HANDY: 10%-Intervall, 9 Elemente */

@media screen and (max-width: 599px) {

    #mq-test {
        width: 0;
    } 

    #parameter {
        width:96%;
        padding: 12px;
        margin-bottom:16px;
        max-width:380px;
    }

    #graph {
        height: 210px;
    }

    #faq {
        display:none;
        margin-top:24px;
        width:96%;
    }

    #faq h2 {
        display:none;
    }

    #faq h3 {
        font-size: 15 h3px;
        padding: 12px 16px;
    }

    .toggles {
        display:block;
        text-align:center;
    }
    
    .break {
        display:block;
        margin-top:6px;
        margin-bottom:9px;
    }
    
    #result-small {
        width:96%;
        border-radius:2px;
        margin:0 auto;
        color:#fff;
        margin-bottom:4px;
        padding:12px 6px 16px 6px;
        text-align:center;
        box-sizing:border-box;
        font-size:13px;
        background-color:#333343;
    }
    
    .years-to-retirement, .savingsrate, .savingrate-suffix {
        font-size:26px;
    }
    
    .years-to-retirement-title {
        font-size:14px;
    }
    
    
    h1 {
        margin-top:16px;
    }
    
    .line-number, .column-value {
        font-size:11px;
    }
    
    .column-value {
        bottom:-16px;
    }
    
    .axis-label {
        font-size:12px;
    }
    
    #graph-background-container {
        padding-left:45px;
    }
    
    #graph-canvas-container {
        padding-left:50px;
    } 
    
    #toggle_table {
        display:inline-block;
        float:none;
        margin-bottom:9px;
        margin-top: 8px;
    }
    
    #table {
        display:none;
        margin-top:0px;
        width:100%;
        font-size:13px;
    }
    
    #table thead {
        font-size:13px;
    }
    
    #table > h2 {
        margin-top:9px;
    }

    #bottom_menu {
        display:block;
        margin-bottom:20px;
        text-align:center;
    }
    
    #impressum, #datenschutz {
        display:none !important;
    }

    #logo {
        text-transform:uppercase;
        font-size:16px;
        font-weight: bold;
        float:left;
    }


    #menu {
        float:right;
    }
    
    .shariff {
        margin-top:25px;
        margin-bottom:20px;
    }

}


/* TABLET + BLOG: 5%-Intervall, 19 Elemente */

@media screen and (min-width: 600px) and (max-width:1200px) {
    #mq-test {
        width: 1px;
    }
    #graph {
        height: 250px;
    }
    
    #result-small {
        border:radius:2px;
        background-color:#333343;
        padding:14px 12px 18px 12px;
        box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.2);
        border: 1px solid #eeeeee;
        z-index:1000;
        max-width:340px;
        width:96%;
        color:#fff;
        text-align:center;
        margin:0 auto;
        position:relative;
        top:20px;
        font-size:16px;
        margin-top:-30px;
    }
    
    #table {
        margin-top:20px;
    }    
        
    #parameter {
        margin-bottom:36px;
    }
    
}

@media screen and (max-width:1200px) {
    #result {
        display:none;
    }    
    
    #result-small {
        display:block;
    }
    
    #toggle_annahmen, #toggle_table {
        float:none;
        color: rgba(51, 51, 67, 0.7);
    }
    
    #toggle_annahmen {
        display:inline-block;
    }
}


@media only screen and (max-width:360px) {
	.shariff .shariff-buttons.buttonsize-small li {
		width: 25px
	}
	.shariff .shariff-buttons li {
		width: 35px
	}
	.shariff .shariff-buttons.buttonsize-large li {
		width: 45px
	}
	.shariff .shariff-buttons .shariff-icon svg {
		display: block;
		margin: auto
	}
	.shariff .shariff-buttons .shariff-text {
		display: none
	}
	.shariff .shariff-buttons .shariff-count {
		display: none
	}
}

@media only screen and (min-width:361px) {
	.shariff .shariff-buttons.buttonsize-small li {
		width: 105px
	}
	.shariff .shariff-buttons li {
		width: 125px
	}
	.shariff .shariff-buttons.buttonsize-large li {
		width: 155px
	}
	.shariff .shariff-buttons .shariff-text {
		display: inline
	}
	.shariff .shariff-buttons .shariff-count {
		display: inline
	}
}

@media only screen and (min-device-width:1025px) {
	.shariff .shariff-mobile {
		display: none !important
	}
}